<h1>List of all Events: </h1>

<ol>
  <% @events.each do |item| %>
    <li>
      <span>Name: <%= item.name %></span><br>
      <span>Date: <%= item.date%></span><br>
      <span>Description: <%= item.description %></span>
    </li>
  <%end%>
</ol>