@import 'bootstrap';
@import 'bootstrap-sprockets';

nav {
  width: 100%;
  background: black;
  color:white;
  height: auto;
  display:flex;
  justify-content: space-between;
  
  * {
    display:flex;
    margin: 10px;
  }
}

.logout-button {
  background: yellow;
  color: black;
}